.wrap-img1{
    left:110vw;
    top:12vh;
}
.wrap-img2{
    left:170vw;
    top:10vh;
}
.wrap-img3{
    left:190vw;
    top:25vh;
}
.wrap-img4{
    left:200vw;
    top:12vh;
}

.wrap-img5{
    left:240vw;
    top:10vh;
}
.wrap-img6{
    left:290vw;
    top:25vh;
}
.wrap-img7{
    left:300vw;
    top:12vh;
}
.wrap-img8{
    left:315vw;
    top:5vh;
}